body {
    font-family: "Raleway", "Roboto", sans-serif;
    color: #2E2F42;
    background-color:  #FFF;
    width: 1440px;
}

.logo {
    color: #4D5AE5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px; 
    text-transform: uppercase;
    text-decoration: none;
} 

.span-logo {
    color: #2E2F42;
}
/* Menu */
.menu {
color: #2E2F42;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; 
text-decoration: none;
}
/* Contact */
.contacts {
 color: #434455;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
text-decoration: none;
}

/* Section 1 */
.dark-blue {
background-color: #2E2F42;
width: 1440px;
height: 600px;
}

.business {
color: #FFF;
text-align: center;
font-family: "Roboto";
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: 60px; 
}

.button {
border-radius: 4px;
background: #4D5AE5;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
color: #FFF;
cursor: pointer;
}

.button:hover {
    background-color: #404bbf;
}

/* Section 2 */
.information {
background-color: #FFF;
}

.about {
color: #2E2F42;
text-align: center;
font-family: "Roboto";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
text-transform: capitalize;
}

.text {
color: #2E2F42;
font-family: "Roboto";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}

.title {
color: #434455;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

/* Section 3 */
.people {
    background-color: #F4F4FD;
}

.team {
color: #2E2F42;
text-align: center;
font-family: "Roboto";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
text-transform: capitalize;
}

.people-name {
color: #2E2F42;
font-family: "Roboto";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}

.profecion {
color: #434455;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

/* Section 4 */
.work {
    background-color: #fff;
}

.portfolio {
color: #2E2F42;
text-align: center;
font-family: "Roboto";
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
text-transform: capitalize;
}

.app {
color: #2E2F42;
font-family: "Roboto";
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: 24px;
}

.name-work {
color: #434455;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

/* Footer */
.end {
    background-color: #2E2F42;
    height: 312px;
}

.span-end {
color: #F4F4FD;
font-family: "Raleway";
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 21px;
text-transform: uppercase;
}

.info {
color: #F4F4FD;
font-family: "Roboto";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}